# Homework Starter — Stage 6: Data Preprocessing
Use this notebook to apply your cleaning functions and save processed data.

In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(".."))  # 把上一级目录加入搜索路径

from src import cleaning

## Load Raw Dataset

In [2]:
df = pd.read_csv('../data/raw/sample_20250816-223803.csv')
df.head()

         date ticker       price
0  2024-01-01   AAPL  149.069468
1  2024-01-02   AAPL  149.745522
2  2024-01-03   AAPL  149.633682
3  2024-01-04   AAPL  150.605201
4  2024-01-05   AAPL  151.356323

## Apply Cleaning Functions

In [3]:
df = cleaning.fill_missing_median(df, ['price'])
df = cleaning.drop_missing(df, threshold=0.5)
df = cleaning.normalize_data(df, ['price'])

## Save Cleaned Dataset

In [4]:
df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)